<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b50005106b.js" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
    <title>Bit Source</title>

</head>

<body>