<!---- dfgms ----------->
<%- include('partials/header') -%>
<h1>Add your issue</h1>

<div class="grid w-3/6 h-80 place-items-center">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-3xl font-bold text-accent">
        Sign Up to begin your adventure!
      </h1>
    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
      <div class="card-body">
        <h1 class="text-2xl text-center font-bold">Sign Up!</h1>

        <form action="/signup" method="POST">
          <!-- Username -->
          <div class="form-control">
            <label class="label" for="userName">
              <span class="label-text">Username</span>
            </label>
            <input
              type="text"
              placeholder="Username"
              id="userName"
              name="userName"
              class="input input-bordered"
            />
          </div>
          <!-- Username -->

          <!-- First Name -->
          <div class="form-control">
            <label class="label" for="firstName">
              <span class="label-text">First Name</span>
            </label>
            <input
              type="text"
              placeholder="First Name"
              id="firstName"
              name="firstName"
              class="input input-bordered"
            />
          </div>
          <!-- First Name -->

          <!-- Last Name -->
          <div class="form-control">
            <label class="label" for="lastName">
              <span class="label-text">Last Name</span>
            </label>
            <input
              type="text"
              placeholder="Last Name"
              id="lastname"
              name="lastName"
              class="input input-bordered"
            />
          </div>
          <!-- Last Name -->

          <!-- Email -->
          <div class="form-control">
            <label class="label" for="exampleInputEmail1">
              <span class="label-text">Email</span>
            </label>
            <input
              type="email"
              placeholder="Email"
              id="exampleInputEmail1"
              name="email"
              class="input input-bordered"
            />
          </div>
          <!-- Email -->

          <!-- Password -->
          <div class="form-control">
            <label class="label" for="password">
              <span class="label-text">Password</span>
            </label>
            <input
              type="password"
              placeholder="Password"
              id="password"
              aria-hidden="true"
              name="password"
              class="input input-bordered"
            />
          </div>
          <!-- Password -->

          <!-- Confirm Password -->
          <div class="form-control">
            <label class="label" for="confirmPassword">
              <span class="label-text">Confirm Password</span>
            </label>
            <input
              type="password"
              placeholder="Password"
              id="confirmPassword"
              aria-hidden="true"
              name="confirmPassword"
              class="input input-bordered"
            />
          </div>
          <!-- COnfirm Password -->

          <!--Button -->
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-neutral">Sign Up</button>
          </div>
          <!--Button -->

        </form>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
<script src="js/main.js"></script>
